{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Cuidadores</h1>                 
</div>

        {% if mensajes %}  
        <div style="background-color: #eee;">        
        <div style="width: 60%;background-color: #eee;margin-left: 20%;border-color: #eee;">
            <p class="alert alert-danger" style="margin-bottom: 0%;" role="alert" > 
            {{ mensajes }}
            </p>    
        </div>   

        <div style="background-color:#eee;height: 3%;">
                
        </div>

        </div>
        {% endif %} 
        {% for cuidador in cuidadores %}        

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Nombre: {{cuidador.nombre}}</h5>
                    <p class="card-text">Desripcion: {{cuidador.descripcion}}</p>
                    <a class=" btn btn-success" href="{% url 'contacto_cuidador' cuidador.id %}">Contactar</a>
                    </div>
                </div>
                </div>
            </div>
        </div>

        {% endfor %}
<div style="background-color:#eee;height: 20%;">
                
</div>

{% endblock %}