{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
{% block js %}

<script src= //cdn.jsdelivr.net/npm/sweetalert2@11></script>
<script >
    function delete_cuidador(id) {
        Swal.fire({
            "title":"Estás seguro?",
            "text":"Esta acción es irreversible.",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No",
            "confirmButtonText":"Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "eliminar_cuidador/"+id+"/"
            }
        }) 
    }

</script>

{% endblock %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Cuidadores</h1>                 
</div>
{% if user.is_superuser %}
    <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">
        <a class="btn btn-success" href="{% url 'cargar_cuidador' %}" style="color:white;">Añadir cuidador</a>
    </div>
    <div style="background-color:#eee;height: 5%;text-align: center;">              
    </div> 
{% endif %}
{% if cuidadores.count == 0 %}
    <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
        <div class="card mb-3 element-home-color" style="width: 60%;">
            <div class="row g-0">
                <div class="card">
                    <div class="card-body">
                        Aún no hay cuidadores.
                    </div>
                </div>
            </div>
        </div>
    </div>            
{% else %} 

        {% if mensajes %}  
        <div style="background-color: #eee;">        
        <div style="width: 60%;background-color: #eee;margin-left: 20%;border-color: #eee;">
            <p class="alert alert-danger" style="margin-bottom: 0%;" role="alert" > 
            {{ mensajes }}
            </p>    
        </div>   

        <div style="background-color:#eee;height: 3%;">
                
        </div>

        </div>
        {% endif %} 
        {% for cuidador in cuidadores %}        

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Nombre: {{cuidador.nombre}}</h5>
                    <p class="card-text">Desripcion: {{cuidador.descripcion}}</p>
                    <a class=" btn btn-success" href="{% url 'contacto_cuidador' cuidador.id %}">Contactar</a>
                        {% if user.is_superuser %}
                        <a class="btn btn-success" href="{% url 'editar_cuidador' cuidador.id %}" style="color:white;">Editar</a>
                        <a href ="#" class="btn btn-danger" onclick="delete_cuidador({{cuidador.id}})" style="color:white;">Eliminar</a>  
                        {% endif %}
                    </div>                    
                </div>
                </div>
            </div>
        </div>

        {% endfor %}
<div style="background-color:#eee;height: 20%;">
                
</div>
{% endif %}
{% endblock %}