{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
{% if user.is_superuser %}

<script src= //cdn.jsdelivr.net/npm/sweetalert2@11></script>
<script >
    function cancelar_turno_2(id) {
        Swal.fire({
            "title":"Estás seguro?",
            "text":"Esta acción es irreversible.",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No",
            "confirmButtonText":"Si, cancelar tuerno",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "cancelar_turno/"+id+"/"
            }
        }) 
    }
    function cancelar_turno_3(id) {
        Swal.fire({
            title: '¿Estás seguro que quieres cancelar el turno?',
            input: 'text',
            inputPlaceholder: 'Ingrese el motivo',
            showCancelButton: true,
            cancelButtonText: 'No, cancelar',
            confirmButtonText: 'Si, cancelar turno',
            preConfirm: (motivo) => {
            if (!motivo) {
                Swal.showValidationMessage('Debes ingresar un motivo');
            }
            }
        }).then((result) => {
            if (result.isConfirmed) {                
            const motivo = result.value;
            // Aquí puedes realizar alguna acción con el motivo ingresado, como enviarlo a través de una petición AJAX.
            console.log('Motivo de cancelación:', motivo);
            Swal.fire({
                title: 'Turno cancelado',
                icon: 'success',
                didClose: () => {
                window.location.href = "cancelar_turno/" + id + "/";
                }
            });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
            Swal.fire('Cancelado', 'El turno no fue cancelado', 'error');
            }
        });
        }
        function cancelar_turno(id) {
            Swal.fire({
                title: '¿Estás seguro que quieres cancelar el turno?',
                input: 'text',
                inputPlaceholder: 'Ingrese el motivo',
                showCancelButton: true,
                cancelButtonText: 'No, cancelar',
                confirmButtonText: 'Si, cancelar turno',
                preConfirm: (motivo) => {
                if (!motivo) {
                    Swal.showValidationMessage('Debes ingresar un motivo');
                } else {
                    return motivo; // Devolvemos el motivo para usarlo después
                }
                }
            }).then((result) => {
                if (result.isConfirmed) {                
                const motivo = result.value;
                // Aquí puedes realizar alguna acción con el motivo ingresado, como enviarlo a través de una petición AJAX.
                console.log('Motivo de cancelación:', motivo);
                Swal.fire({
                    title: 'Turno cancelado',
                    icon: 'success',
                    didClose: () => {
                    window.location.href = "cancelar_turno_aprobado/" + id + "/" + motivo + "/";
                    }
                });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire('Cancelado', 'El turno no fue cancelado', 'error');
                }
            });
        }        
</script>

<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Turnos aprobados</h1>                 
</div>
        {% if turnos.count == 0 %}
        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                    <div class="card">
                        <div class="card-body">
                            Aún no hay turnos aprobados.
                        </div>
                    </div>
                </div>
            </div>
        </div>            
        {% else %}
            {% for turno in turnos %}        

            <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
                <div class="card mb-3 element-home-color" style="width: 60%;">
                    <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                        <p class="card-title">Cliente: {{turno.created_by.first_name}} {{turno.created_by.last_name}}</p>
                        <p class="card-text">Franja horaria: {{turno.franja_horaria}}</p>
                        <p class="card-text">Motivo: {{turno.motivo}}</p>
                        <p class="card-text">Fecha: {{turno.fecha}}</p>
                        <a href ="#" class="btn btn-danger" onclick="cancelar_turno({{turno.id}})" style="color:white;">Cancelar turno</a>
                        <a href ="{% url 'reprogramar_turno_aprobado' turno.id %}" class="btn btn-success" style="color:white;">Reprogramar turno</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            {% endfor %}
<div style="background-color:#eee;height: 20%;">
                
</div>
{% endif %}
{% else %}
<img src="https://st.depositphotos.com/31068556/51146/v/600/depositphotos_511461970-stock-illustration-concept-design-of-an-empty.jpg" class="img-fluid rounded-start" alt="..." style="border-radius: 4px;">
{% endif %}
{% endblock %}