{% extends "gestion_de_usuarios/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_superuser %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px; margin-top: 5%;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="display-4" style="margin-bottom: 10%;">Crear entrada</p>
                    <form method="post" action="" class="mx-1 mx-md-4">
                        {% for m in mensaje_error %}                            
                          <div style="margin-top: 3%;">
                            <p class="alert alert-danger" role="alert" > 
                              {{ m }}
                            </p>    
                          </div>        
                        {% endfor %}   
                        {% csrf_token %}
                        {{ form|crispy }}
                     
                        <button type="submit" class="btn btn-success" style="margin-top: 5%;">Guardar</button>    
                        <a href="{% url 'ver_historial_medico' id %}" class="btn btn-danger" style="margin-top: 5%;">Volver</a>                 
                         
                     
                    </form>  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">  
                  <img src="https://media.discordapp.net/attachments/1084960115909722185/1097261359265226853/Logo1.png"
                    class="img-fluid" alt="Sample image">  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>    
{% else %}
<img src="https://st.depositphotos.com/31068556/51146/v/600/depositphotos_511461970-stock-illustration-concept-design-of-an-empty.jpg" class="img-fluid rounded-start" alt="..." style="border-radius: 4px;">
{% endif %}
{% endblock %}