{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Mis perros perdidos</h1>                 
</div>

<script src= //cdn.jsdelivr.net/npm/sweetalert2@11></script>
<script >
    function delete_anuncio_perdido(id) {
        Swal.fire({
            "title":"Estás seguro?",
            "text":"Esta acción es irreversible.",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No",
            "confirmButtonText":"Si, elimina el anuncio",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "eliminar_anuncio_perdido/"+id+"/"
            }
        }) 
    }

</script>
{% if mis_perros_perdidos.count == 0 %}
    <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
        <div class="card mb-3 element-home-color" style="width: 60%;">
            <div class="row g-0">
                <div class="card">
                    <div class="card-body">
                        Aún no has hecho ninguna publicación.
                    </div>
                </div>
            </div>
        </div>
    </div>            
{% else %}
{% for perro in mis_perros_perdidos %}

        

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="{{perro.imagen.url}}" class="img-fluid rounded-start" alt="..." style="border-radius: 4px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Nombre: {{perro.nombre}}</h5>
                        <p class="card-text">Etapa de vida: {{perro.edad}} - Tamaño: {{perro.size}} - Zona: {{perro.zona}} - Sexo: {{perro.sexo}} - Raza: {{perro.raza}}</p>
                        <p class="card-text">Descripción: {{perro.descripcion}}</p>
                        <p class="card-text">Se perdió el: {{perro.fecha_perdido}} ({{perro.franja_horaria}})</p>
                        {% if not perro.encontrado %}
                        <a href ="{% url 'editar_anuncio_perdido' perro.id 'mine' %}" class="btn btn-success" style="color:white;">Editar anuncio</a>
                        <a href ="#" class="btn btn-danger" onclick="delete_anuncio_perdido({{perro.id}})" style="color:white;">Eliminar anuncio</a>
                        <a href ="{% url 'perro_encontrado' perro.id %}" class="btn btn-success" style="color:white;">Marcar como encontrado</a>   
                        {% else %}
                        <h5><span class="badge bg-success">Encontrado</span></h5>
                        {% endif %}      
                    </div>
                </div>
                </div>
            </div>
        </div>


        {% endfor %}
<div style="background-color:#eee;height: 20%;">
                
</div>
{% endif %}
{% else %}
<img src="https://st.depositphotos.com/31068556/51146/v/600/depositphotos_511461970-stock-illustration-concept-design-of-an-empty.jpg" class="img-fluid rounded-start" alt="..." style="border-radius: 4px;">
{% endif %}
{% endblock %}