{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Mis perros en adopcion</h1>                 
</div>

<script src= //cdn.jsdelivr.net/npm/sweetalert2@11></script>
<script >
    function delete_anuncio_adopcion(id) {
        Swal.fire({
            "title":"Estás seguro?",
            "text":"Esta acción es irreversible.",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No",
            "confirmButtonText":"Si, elimina el anuncio",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "eliminar_anuncio_adopcion/"+id+"/"
            }
        }) 
    }

</script>
        {% for perro in mis_perros_en_adopcion %}

        

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Edad: {{perro.edad}}</h5>
                    <p class="card-text">Descripción / información: {{perro.descripcion}}</p>
                    <p class="card-text">Localidad: {{perro.localidad}}</p>
                    <!-- <a  class=" btn btn-danger" >Eliminar anuncio</a> -->
                    <a href ="{% url 'editar_anuncio' perro.id %}" class="btn btn-success" style="color:white;">Editar anuncio</a>
                    <a href ="#" class="btn btn-danger" onclick="delete_anuncio_adopcion({{perro.id}})" style="color:white;">Eliminar anuncio</a>                    
                    <!-- href="{% url 'contacto' perro.id%}" -->
                    </div>
                </div>
                </div>
            </div>
        </div>


        {% endfor %}
<div style="background-color:#eee;height: 20%;">
                
</div>

{% endblock %}