{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Perros perdidos</h1>                 
</div>
        {% for perro in perros_perdidos %}

        

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{perro.imagen.url}}" class="img-fluid rounded-start" alt="..." style="border-radius: 4px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Nombre: {{perro.nombre}}</h5>
                    <p class="card-text">Descripción / información: {{perro.descripcion}}</p>
                    <p class="card-text">Teléfono: {{perro.telefono}}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>


        {% endfor %}
<div style="background-color:#eee;height: 20%;">
                
</div>

{% endblock %}