{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Perros en adopcion</h1>                 
</div>

        {% if mensajes %}  
        <div style="background-color: #eee;">        
        <div style="width: 60%;background-color: #eee;margin-left: 20%;border-color: #eee;">
            <p class="alert alert-danger" style="margin-bottom: 0%;" role="alert" > 
            {{ mensajes }}
            </p>    
        </div>   

        <div style="background-color:#eee;height: 3%;">
                
        </div>

        </div>
        {% endif %}  
        {% for perro in perros_en_adopcion %}

        

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Título: {{perro.titulo}}</h5>
                    <p class="card-text">Etapa de vida: {{perro.edad}}</p>
                    <p class="card-text">Tamaño: {{perro.tamanio}}</p>
                    <p class="card-text">Detalles de salud: {{perro.detalles_de_salud}}</p>
                    <p class="card-text">Zona: {{perro.zona}}</p>
                    <p class="card-text">Historia: {{perro.historia}}</p>
                    <a href ="{% url 'contacto_adopcion' perro.id %}" class=" btn btn-success" >Contactar</a>
                    <!-- href="{% url 'contacto' perro.id%}" -->
                    </div>
                </div>
                </div>
            </div>
        </div>


        {% endfor %}
<div style="background-color:#eee;height: 20%;">
                
</div>

{% endblock %}