{% extends "gestion_de_usuarios/base.html" %}
{% block content %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Mi perfil</h1>                 
</div>
    

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Nombre de usuario: {{usuario.username}}</h5>
                    <p class="card-text">Email: {{usuario.email}}</p>
                    <p class="card-text">Dni: {{usuario.dni}}</p>
                    <a class="navbar-brand px-lg-4 btn btn-outline-success" href="{% url 'editar_perfil' %}" style="color:green;">Editar</a>
                    <a class="navbar-brand px-lg-4 btn btn-outline-danger" href="{% url 'eliminar_usuario' %}" style="color:red;">Eliminar</a>            
                    </div>                    
                </div>
                </div>
            </div>
        </div>

<div style="background-color:#eee;height: 20%;">
                
</div>

{% endblock %}