{% extends "gestion_de_usuarios/base.html" %}
{% block content %}

{% block js %}

<script src= //cdn.jsdelivr.net/npm/sweetalert2@11></script>
<script >
    function delete_user() {
        Swal.fire({
            "title":"Estás seguro?",
            "text":"Esta acción es irreversible.",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"Cancelar",
            "confirmButtonText":"Eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "eliminar_usuario"
            }
        }) 
    }

</script>

{% endblock %}
{% if user.is_authenticated %}
<div style="background-color:#eee;height: 20%;text-align: center;">
    <h1 class="display-1">Mi perfil</h1>                 
</div>
    

        <div style="background-color: #eee;background-position: center;background-size: cover; align-items: center;justify-content: center;display: flex;">                    
            <div class="card mb-3 element-home-color" style="width: 60%;">
                <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Nombre de usuario: {{usuario.username}}</h5>
                    <p class="card-text">Nombre: {{usuario.first_name}}</p>
                    <p class="card-text">Apellidos: {{usuario.last_name}}</p>
                    <p class="card-text">Email: {{usuario.email}}</p>
                    <p class="card-text">Dni: {{usuario.dni}}</p>
                    <a class="btn btn-success" href="{% url 'editar_perfil' %}" style="color:white;">Editar</a>
                    <a class="btn btn-success" href="{% url 'change_password' %}" style="color:white;">Cambiar mi contraseña</a> 
                    <!-- <a class="navbar-brand px-lg-4 btn btn-danger" href="{% url 'eliminar_usuario' %}" style="color:white;">Eliminar</a>    -->
                    <a href ="#" class="btn btn-danger" onclick="delete_user()" style="color:white;">Eliminar</a>           
                    </div>                    
                </div>
                </div>
            </div>
        </div>

<div style="background-color:#eee;height: 20%;">
                
</div>
{% else %}
<img src="https://st.depositphotos.com/31068556/51146/v/600/depositphotos_511461970-stock-illustration-concept-design-of-an-empty.jpg" class="img-fluid rounded-start" alt="..." style="border-radius: 4px;">
{% endif %}
{% endblock %}